<div class="jumbotron">
    <% if(currentAdmin){ %>
    <h1>Welcome, <%= currentAdmin.username %></h1>
    <% }else{ %>
    <h1>Welcome, please login first</h1>
    <% } %>

    <p>This is the backend management system for crm app.</p>

    <p>If you have any questions, please contact with <b>shengyuhong@wespoke.com</b></p>
</div>