<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRM</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/login.css" rel="stylesheet">

</head>

<body>

<div class="container text-center">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" role="form" method="post">
                <% if (success) { %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
                <% } %>
                <% if ( error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>
                <h2>CRM</h2>
                <input type="text" class="form-control" placeholder="username" name="username" required autofocus autocomplete="off">
                <input type="password" class="form-control" placeholder="password" name="password" required autocomplete="off">
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>
