<div id="my-tag-list" class="tag-list"></div>
<script>
    $(function() {
        // If using Bootstrap 2, be sure to include:
        // Tags.bootstrapVersion = "2";
        $('#my-tag-list').tags({
            tagData:["boilerplate", "tags"],
            suggestions:["basic", "suggestions"],
            excludeList:["not", "these", "words"]
        });
    });
</script>